h1,h2,h3,h4{
    font-family: "Comic Sans MS", "Comic Sans";
    color: black;
}

img.logo {
width: 100px;
height: 100px;
}

h1{
    font-size: 500%;
    height: 150px;
    background-image: url(../images/design1_image2.jpg);
    background-position: center;
    background-size: cover;
}

h2{
    background-color: whitesmoke;
    font-size: 200%;
}

h3{
    font-size:150%;
    font-weight: bolder;
}

h4{
    font-size: 100%;
    font-weight: lighter;
}